@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif, arial;
}
html {
    max-width: 100vw;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 4000px;
    background-color: red;

}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

h1, h2, h3, h4 {
    text-transform:uppercase;
}

/* NavBar */

#topBar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #152237;
    width: 100%;
    height: 7.5vh;
    padding: 0 9.2vw;
}

#klivioLogo {
    height: 3vh;
}

.auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    height: 5vh;
}

.btn {
    width: 130px;
    height: 40px;
    margin: 0.6em;
    border-radius: 6px;
    border: none;
    color: #152237;
}

.signUp {
    background: #44DD8A;
    background: linear-gradient(90deg,rgba(68, 221, 138, 1) 0%, rgba(21, 183, 226, 1) 100%);
}

#searchContent {
    display: flex;
    align-items: center;
    position: relative;
    width: 467px;
    border: solid #fff 1px;
    border-radius: 6px;
    padding: 0.1em;
}

#searchContent img {
    position: absolute;
    right: 10px;
    width: 16.8px;
    height: 16.8px;
    color: white;
    pointer-events: none;
}

#search {
    text-align: left;
    padding: 1em;
    font-size: 0.9em;
    color: #fff;
    width: 24.84vw;
    max-width: 476.928px;
    height: 37px;
    background-color: #152237;
    border: none;
    pointer-events: none;
}

.fa-arrow-up-right {
    width: 100px;
    height: 100px;
    color: red;
}

/* Hero banner */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-image: url(assets/bg-header.png);
    background-size: cover;
    background-position: center;
}

header h1,h2,button {
    z-index: 2;
}

header::before {
    content: "";
    background: linear-gradient(90deg,rgba(68, 221, 138, 1) 0%, rgba(21, 183, 226, 1) 100%);
    position: absolute;
    width: 100vw;
    height: 60vh;
    opacity: 75%;
}

header h1 {
    font-size: 2.5em;
    font-weight: 800;
    color: #152237;
    margin: 0 0 0.2em 0;
}

header h2 {
    font-size: 1em;
    font-weight:500;
    margin: 0 0 0.5em 0;
}

header button {
    font-weight: 500;
}

/* Courses pop */

.course.populaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    padding: 0 10em;


    .courseTitle {
        margin: 1em 0;
        text-transform:none;
        font-size: 36px;
    }

    .btn {
        align-self: center;
        width: 220px;
        height: 40px;
        max-height: 100px;
        margin: 1em 0 2em 0;
        color: #fff;
        background-color: #152237;
        font-weight: 500;
        font-size: 15px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 92px;
        width: 100%;
        height: 70%;


        .card {
            width:325px;

            .cover {
                width: 100%;
            }

            .contentCard {

                padding: 0 1em;

                .priceTag {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    left: 160px;
                    bottom: 20px;
                    width: 130px;
                    border-radius: 90px;
                    background-color: #152237;

                    p {
                        display: flex;
                        align-items: center;
                        color: #fff;
                        font-weight: 600;
                        font-size: 1em;
                        padding: 0 0.2em;

                        span {
                            align-items: center;
                            text-decoration: line-through;
                            font-size: 0.625em;
                            margin: 0 0 0 0.5em;
                        }
                    }
                }

                p {
                    margin: 0.5em 0 0.5em 0;

                }
            }
        }
    }
}


.course.latest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #152237;
    width: 100%;
    padding: 0 10em;


    .courseTitle {
        margin: 1em 0;
        text-transform:none;
        font-size: 36px;
        color: #fff;
    }

    .btn {
        align-self: center;
        width: 220px;
        height: 40px;
        max-height: 100px;
        margin: 1em 0 2em 0;
        color: #152237;
        background-color: #fff;
        font-weight: 500;
        font-size: 15px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 92px;
        width: 100%;
        height: 70%;


        .card {
            width:325px;

            .cover {
                width: 100%;
            }

            .contentCard {

                padding: 0 1em;

                .priceTag {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    left: 160px;
                    bottom: 20px;
                    width: 130px;
                    border-radius: 90px;
                    background-color: #fff;

                    p {
                        display: flex;
                        align-items: center;
                        color: #152237;
                        font-weight: 600;
                        font-size: 1em;
                        padding: 0 0.2em;

                        span {
                            align-items: center;
                            text-decoration: line-through;
                            font-size: 0.625em;
                            margin: 0 0 0 0.5em;
                        }
                    }
                }

                h3 {
                    color: #fff;
                }

                p {
                    margin: 0.5em 0 0.5em 0;
                    color: #fff;
                }
            }
        }
    }
}


/* Feedback section */

main {
    width: 100%;
    background-color: blue;

    .feedback {
        width: 100%;
        background-color: #fff;
        padding: 1em 12em 7em 12em;

        h2 {
            text-align: center;
            margin: 1em 0;
            font-size: 40px;
            font-weight: 900;
            color: #152237;
        }
        .container {
            display: flex;
            justify-content: center;
            gap: 15px;

            section {
                width: 689px;

                img {
                    border-radius: 90px;
                }

                h3 {
                     text-transform:none;
                }
    
                .star {
                    margin: 0.5em 0;
                }
    
                p {
                    font-size: 16px;
                    margin: 0.7em 0;
                    line-height: 1.5em;
                }
            }
        }
    }

    .advantage {
        display: flex;
        justify-content: space-between;
        align-items:start;
        gap: 80px;
        background-color: #F5F5F5;
        width: 100%;
        padding: 4em 10em;

        img {
            height: 100%;
        }

        article {
            width: 100%;

            h3 {
                font-size: 40px;
                font-weight: 900;
                margin: 0 0 1em 0;
                color: #152237;
            }
            .content {
                display: flex;

                ul {
                    li {
                        display: flex;
                        list-style: none;
                        p {
                            font-size: 24px;
                            margin: 0 0 0.8em 0;
        
                        }
                        img {
                            width: 30px;
                            height: 30px;
                            margin: 0 1.5em 0.8em 0;
                        }

                    }
                }
            }
        }
    }

    .ownCourse {
        display: flex;
        justify-content: space-between;
        align-items:start;
        gap: 80px;
        background-color: #44DD8A;
        width: 100%;
        padding: 4em 10em;

        img {
            height: 100%;
        }

        article {
            width: 100%;

            h3 {
                font-size: 40px;
                font-weight: 900;
                margin: 0 0 1em 0;
                color: #fff;
            }
            .content {
                display: flex;

                ul {
                    li {
                        display: flex;
                        list-style: none;
                        p {
                            font-size: 24px;
                            margin: 0 0 0.8em 0;
        
                        }
                        img {
                            width: 30px;
                            height: 30px;
                            margin: 0 1.5em 0.8em 0;
                        }

                    }
                }
            }
        }
    }

    .about {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: purple;


        
        .content {
            width: 50%;
            background-color: #fff;
            padding: 12em 8em;

            h3 {
                color: #152237;
                font-weight: 900;
                font-size: 40px;
                margin: 1em 0 1em 0;
            }

            p {
                color: #152237;
                font-weight: 400;
                font-size: 18px;
                margin: 0 0 1em 0;
            }
        }
        #logoSquare {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            background-color: #152237;
            img {
                width: 430px;
                height: 155px;
            }
        }
    }

    .formSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #fff;
        h2 {
            text-align: center;
            font-size: 40px;
            font-weight: 900;
            margin: 1em 0 0 0;
        }
        .spacer {
            width: 380px;
            height: 2px;
            background-color: #44DD8A;
            margin: 2em 0 1.5em 0;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 80%;

            .info {
                display: flex;
                justify-content: space-between;

                input {
                    width: 45%;
                    padding: 1em 0.5em;
                    margin: 2em 0 3.5em 0;
                    background-color: #152237;
                    border: none;
                }

                input::placeholder {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
            textarea {
                width: 100%;
                padding: 1em 1em 10em 1em;
                margin: 0 0 2em 0;
                background-color: #152237;
                border: none;
            }

            textarea::placeholder {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
            }

            button {
                align-self: center;
                width: 280px;
                height: 40px;
                max-height: 100px;
                margin: 1.2em 0 4em 0;
                color: #152237;
                background-color: #44DD8A;
                font-weight: 500;
                font-size: 15px;
                border: none;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: blueviolet;

    #footerNav {
        width: 90%;
        background-color:crimson;
    }
}